*.egg-info
*.egg
*.eggs
*.EGG
*.EGG-INFO
*.idea
bin
build
develop-eggs
downloads
eggs
fake-eggs
parts
dist
*.pyc
*.pyo
*.tmp*
*.so
.cache
.DS_Store
.vscode
tmp/
# vim
.*swp
# docs
*_build
docs/_build
# tests
*.ipynb_checkpoints
*.pytest_cache
*__pycache__ 
*.vscode
tests/*.ipynb
tests/*.pdf
tests/*.csv
tests/benchmark
gseapy_example.ipynb
target
Cargo.lock
.jupyter